<div style="padding: 0 30%">
	<h1 class="text-center">Editing Profile</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @profile, {:class => 'btn '} %>
	<%= link_to 'Home', root_path, {:class => 'btn '} %>
</div>
