<div class="container">
<div class="row">
<div class="footer col-md-12 table-bordered" id="foot">
<div id="gap"></div>
<center>  
<p>&copy; 2016 Rockfortreddiars.com<p>
  </center>
  </div>
  </div>
  </div>

  
 </body> 
</html>