<!-- header starts here -->
<%= render 'header' %>
<!-- header Ends here -->

<!--middle content starts here -->
<div id="" class="container-mid col-md-7 table-bordered">
<div id="gap"></div>
<p>Reddy (also transliterated as Reddi, Reddiar, Reddappa, Reddy) is a caste that originated in India, predominantly settled in Andhra Pradesh. They are classified as a forward caste. The origin of the Reddy has been linked to the Rashtrakutas, although opinions vary. At one time they were a warrior caste and later became feudal overlords and peasant proprietors. Historically they have been the land-owning aristocracy of the villages. Traditionally, they were a diverse community of merchants and cultivators. Their prowess as rulers and warriors is well documented in Telugu history.<a style="color:orange;" href="#">Continue Reading</a></p>

</div>
 <!--middle content ends here -->
 
 <!-- Right side bar starts here --> 
<%= render 'right_side_bar' %>
 
<!-- Right side bars Ends here --> 

<!-- Footer Area Starts here -->
<%= render 'footer' %>


<!-- Footer ends here -->