<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Rockfortreddiars.com</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<!-- Start VisualLightBox.com HEAD section -->
		<link rel="stylesheet" href="gallery_page1_files/vlb_files1/vlightbox1.css" type="text/css" />
		<link rel="stylesheet" href="gallery_page1_files/vlb_files1/visuallightbox.css" type="text/css" media="screen" />
<script src="gallery_page1_files/vlb_engine/jquery.min.js" type="text/javascript"></script>
		<script src="gallery_page1_files/vlb_engine/visuallightbox.js" type="text/javascript"></script>
  </head>
  <body>
  
  <div class="container ">
  <div class="row">
  <div id="head"><a href="http://www.rockfortreddiars.com"><img src="images/header.jpg" style="width:100%;" /></a></div></div></div>
  <div class="container">
  <div class="row">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid table-bordered">
    
    <ul class="nav navbar-nav">
      <li ><a href="index.php">Home</a></li>
      <li><a href="members_list.php">Members List</a></li>
      <li><a href="gallery.php">Gallery</a></li> 
      <li><a href="about_us.php">About Us</a></li> 
      <li><a href="contact_us.php">Contact Us</a></li> 
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signup.php"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
	
	<div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Members" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div> 
	
	</div>
</nav>
</div></div>
<div class="container">
<div class="row">
<div id="slider" class="col-md-12 col-sm-6 col-md-8 table-bordered">
<?php include('template/slider.php');?>

</div>
</div></div>
<div class="container">
<div class="row">
<div id="flash" class="col-md-12 col-sm-6 col-md-8 table-bordered"></div></div></div>

<div class="container">
<div class="row">
  <div id="container-left" class="col-md-2 table-bordered">
  
  <div id="gap"></div>
      <div class="list-group">
    <a href="#" class="list-group-item active">
      
      <p class="list-group-item-text">Quick Links</p>
    </a>
	
	<a href="#" class="list-group-item">
      
      <p class="list-group-item-text">Photo Gallery</p>
    </a>
	
	
    <a href="#" class="list-group-item">
      
      <p class="list-group-item-text">Events</p>
    </a>
    <a href="#" class="list-group-item">
      
      <p class="list-group-item-text">Members List</p>
    </a>
	<a href="#" class="list-group-item">
      
      <p class="list-group-item-text">News</p>
    </a>
	
	
  </div>
  
  </div>
  